.navbar {
    padding: 10px;
}

#btn-nav {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-text {
    margin-left: 50px;
    margin-right: 50px;
}

.card {
    display: inline-block;
    margin: 10px;
}

.title {
    margin-top: 10px;
}

.rooow > dt, dd {
    display: inline-block;
    margin: 2px;
}

.img-fluid {
    max-height: 50%;
    max-width: 50%;
    position: absolute;
    right: 0;
    top: 10%;
}
