body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    padding: 10px;
    margin-bottom: 10px;
}

#nav-container {
    padding: 0;
}

#btn-nav {
    margin: 5px 10px;
}

.col-4 {
    padding: 10px;
}

.navbar-text {
    margin-left: 50px;
    margin-right: 50px;
}

.card {
    display: inline-block;
    margin: 10px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-title {
    width: 100%;
    height: 5vw;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.data {
    margin-top: 10px;
    margin-bottom: 20px;
}

.roow > dt, dd {
    display: inline-block;
}

.col-12 > dt, dd {
    display: inline-block;
}

span.col-12 {
    margin-top: 20px;
}

span > p {
    margin-bottom: 8px;
}

dd > p {
    margin-bottom: 0;
}