body {
    font-family: 'Roboto', sans-serif;
    /*background-color: rgba(195, 230, 255, 0.8);*/
}

div.container-fluid {
    margin-top: 10px;
}

.navbar {
    padding: 10px;
    border-bottom: solid 1px gray;
}

nav.navbar.navbar-expand-lg.navbar-light {
    background-color: #bfddf5;
    /*border-radius: 0 0 10px 10px;*/
}

#form {
    margin-top: 4rem;
}

#nav-container {
    margin-top: 0;
}

a.navbar-brand {
    color: black !important;
    font-size: 1.5em;
    display: inline-block;
    position: relative;
}

a.navbar-brand:hover {
    color: rgba(0, 0, 0, 0.75) !important;
    transition: color .5s;
}

a.nav-link {
    color:  #3277b0  !important;
    font-size: 1.3em;
    display: inline-block;
    position: relative;
}

/*a.nav-link:hover {*/
/*    color: #4e93cc !important;*/
/*}*/

li.nav-item > a.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

li.nav-item > a.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}

#view-btn {
    background-color: #7aaed9;
    border: #ABD0ED;
    color: black;
}

#view-btn:hover {
    background-color: #4e93cc;
    color: #313131;
}

#btn-nav {
    margin-right: 0.7rem;
}

a.btn.btn-secondary, input.btn.btn-secondary {
    background-color: #3277b0;
    border: none;
}

a.btn.btn-secondary:hover, input.btn.btn-secondary:hover {
    background-color: #4e93cc;
    border: none;
    transition: background-color .3s;
}

button.btn.btn-outline-secondary {
    height: 2.3rem;
    margin-right: 0.7rem;
}

a.btn.btn-outline-secondary, button.btn.btn-outline-secondary {
    border-color: #3277b0;
    color: #3277b0;
}

a.btn.btn-outline-secondary:hover, button.btn.btn-outline-secondary:hover {
    background-color: #3277b0;
    color: white;
    transition: background-color .5s;
}

input.form-control {
    height: 2.3rem;
    margin-right: 0.7rem;
}

button#btn-nav.btn.btn-outline-secondary {
    display: inline-block;
}

.form-control {
    display: inline-block;
}

form.col-4, form.col-6, .row.col-8 {
    padding: 20px;
    border: 1px solid #A9AAAB;
    /*border-color: #f8f9fa;*/
    box-shadow: 2px 6px #989898;
    background-color: white;
    border-radius: 10px;
}

.navbar-text {
    margin-left: 50px;
    margin-right: 50px;
}

#cards {
    margin-top: 4rem;
}

.card {
    display: inline-block;
    margin: 10px;
    box-shadow: 2px 6px #989898;
    border: 1px solid #A9AAAB;
    background-color: #bfddf5;
    border-radius: 10px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-title {
    width: 100%;
    height: 5vw;
    color: #232323;
}

.alert.alert-success {
    margin-left: -12px;
    margin-right: -12px;
    border-radius: 0 !important;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.data {
    margin-top: 10px;
    margin-bottom: 20px;
}

.roow > dt, dd {
    display: inline-block;
}

.col-12 > dt, dd {
    display: inline-block;
}

span.col-12 {
    margin-top: 20px;
}

span > p {
    margin-bottom: 8px;
}

dd > p {
    margin-bottom: 0;
}

.col-8 > .img-fluid {
    object-fit: cover;
    height: auto;
    width: 100%;
}

div.col-8 {
    padding: 0;
}

#reglog {
    margin-top: 10px;
}

#painting-cover {
    display: block;
    width: 100vw;
    height: 550px;
    object-fit: cover;
}

.d-block.w-100 {
    height: 550px;
    width: 100vw;
    object-fit: cover;
    /*border-radius: 10px;*/
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(255, 255, 255, 0.2)));
}

#indexCarousel {
    margin-left: -12px;
    margin-right: -12px;
}

/*.carousel-caption.d-none.d-md-block > h4 {*/
/*    background-color: rgba(245, 245, 220, 0.41);*/
/*}*/

#message {
    display: inline-block;
}

#titlelink {
    text-decoration: none;
    color: black;
}

h3.text-secondary.text-normal.text-small {
    margin: 0;
}

#artist-card {
    border-radius: 50%;
    padding: 2em;
}

#artist-card-title {
    text-align: center;
}